*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
}

input{
    border: none;
    background: transparent;
}