.title{
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-black);
}

.title.one{
   font-size: clamp(2rem, 6vw, 2.75rem); 
}

.title.two{
    font-size: 1.25rem;
}

.title.white{
    color: var(--color-white);
}

.title.orange{
    color: var(--color-orange);
}

.title.center{
    text-align: center;
}

.paragraph{
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-black);
}

.paragraph.white{
    color: var(--color-white);
}