.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: .6rem;

    padding: 0 1.875rem;
    height: 3.75rem;

    font-family: var(--font-secondary);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 2.16px;

    text-transform: uppercase;

    background: var(--color-black);
    color: var(--color-white);
}