.flexBox {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 3.625rem;
}

.flexBox > img,
.flexBox > div {
   width: 100%;
}

@media (min-width: 870px) {
   .flexBox {
      flex-direction: row;
   }
   .flexBox > img,
   .flexBox > div {
      width: 50%;
   }
}

.bannerSection {
   padding: 2rem 0;
}

.bannerSection h1 {
   margin-bottom: 30px;
}

.bannerSection p {
   margin-bottom: 100px;
}
